*{
	margin:0;
	padding:0;
}
body{
	background-image:url(77.jpg);
	background-repeat:no-repeat;
	background-size:100%;
}
.all{
	top: 260px;
	left: 30px;
	width: 600px;
	height: 350px;
	position: relative;
	overflow: hidden;
	border-radius: 7px;
	opacity: .7;
}
.all{
	opacity: 1;
}
.picture img{
    width: 600px;
    height:350px;
    float: left;
}
.picture{
	width: 4200px;
	height: 350px;
	position: absolute;
	/*left:-1200px;*/
}
.button{
	position: absolute;
	opacity: 0.55;
	top: 320px;
	left: 232px;
}
.on{
	background-color:black!important;
	opacity: .55;
}
.button span{
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color:white;
	z-index: 1; 
	border-radius: 50%;
	margin-right: 10px;
	cursor:pointer;
}
.jiantu div{
    width: 50px;
    height: 50px;
    background-color:white;
    opacity: 0.3;
    position: absolute;
    cursor:pointer;
    border-radius: 50%;
}
.jiantu .left:hover{
	background-color:white;
    opacity: 0.7;
}
.jiantu .right:hover{
	background-color:white;
    opacity: 0.7;
}
.left{
	top: 150px;
	left: 10px;
}
.right{
	top: 150px;
	right:10px;
}
