*{
	padding: 0;
	margin:0;
}
.nav_all{
	height: 35px;
	background-color:#f5f5f5;
	width:1200px;
	margin:0 auto;
}
.jiantou{
	width:18px;
	height: 22px;
	margin-top:6px;
	float: right;
}
.gwc{
	width:18px;
	height: 15px;
	margin-top:9px;
	float: left;
}
.xinxin{
	width:18px;
	height: 18px;
	margin-top:9px;
	margin-left: 0;
	float: left;
}
.daohang{
	width:18px;
	height: 18px;
	margin-top:9px;
	float:left;
}
.nav_left{
	float: left;
	width: 292px;
	height: 35px;
	background-color: #f5f5f5;
}
.nav_left .nav_left_A li{
	list-style-type: none;
	float:left;
	font-size: 12px;
	color:#6C6C6C;
	height: 35px;
	line-height: 35px;
	margin-right: 7px;

}
.nav_left_A li a{
	text-decoration: none;
	color:#6C6C6C;
	float: left;
}
.nav_right_A li a{
	text-decoration: none;
	color:#6C6C6C;
	float: right;

}
.nav_right{
	float: right;
	width: 600px;
	height: 35px;
	background-color:#f5f5f5;
}
.nav_right .nav_right_A li{
	list-style-type: none;
	float:right;
	font-size: 12px;
	color:#6C6C6C;
	height: 35px;
	line-height: 35px;
	margin-right: 7px;
	padding: 0 0px;
}
div .nav_all li:hover a{
	color:red;
}
.wode_taobao div{
	width: 80px;
	z-index: 2;
	position: relative;/*解决下拉菜单的遮盖*/
}
.wode_taobao div a{
	width: 80px; 
	height: 30px;
	color:#6C6C6C !important ;
}
.maijia_center div a{
	width: 84px;
	height: 30px;
}
.wode_taobao div{
	background-color:white;
	text-align: center;
	height: 66px;
	display: none;
	width: 80px;
	z-index: 2;
	position: relative;/*解决下拉菜单的遮盖*/
}
.wode_taobao div a:hover{
	background-color:#f5f5f5;
}
.wode_taobao:hover div{
	display: block;
	border: 1px solid #EEE;
	margin-top: 34px;
	border-top:white;
}
.wode_taobao:hover{
	background-color: white;
}
.nav_all_find{
	margin: 0 auto;
	height: 97px;
}
.nav_find{
	max-width: 1042px;
	min-width: 992px;
	height: 88px;
	margin-top: 24px;
	margin-left: 7%;
}
.nav_online{
	margin-left: 20px;
	margin-bottom: -1px;
}
.nav_online a{
	display: inline-block;
	font-size: 12px;
	text-decoration: none;
	width: 36px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	color: #F40;
	
	border-top-left-radius:6px;
	border-top-right-radius:6px;
}
.nav_online a:hover{
	background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
	color: white;
}
.nav_sousuo{
	display: inline-block;
	width: 627px;
	height: 36px;
	border-radius: 20px;
	border:2px solid #ff5000;
}
.nav_sousuo a{
	text-decoration: none;
	color: white;
}
.zhaoxiangji{
	float: right;
	width: 24px;
	height: 24px;
}
.input_text{
	width: 472px;
	height: 24px;
	padding: 6px 0;
	border:0px;
	margin-left: 16px;
	outline: 0;
}
.input_submit {
	border: 0;
	height: 40px;
	width: 74px;
	margin-top: -2px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
	float: right;
	color:white;
	font-size: 18px;
	outline: 0;/*轮廓线*/
}
.xiao_xuanze{
	margin-top: 4px;
}
div .xiao_xuanze a{
	text-decoration: none;
	font-size: 12px;
	color:#666;
	margin-right: 2px;
}
.xiao_xuanze a:hover{
	color:#ff5000;
}
.shouji_taobao{
	width: 76px;
	height: 86px;
	border:1px solid #eee;
	font-size:12px;
	color:#ff5000;
	padding: 4px 0 0 0;
	text-align: center;
	float: right;
}
.erweima{
	width: 62px;
	height: 62px;
	float: right;
	margin:0 7px;
}

.all_nav_middle
{
	background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
	margin: 0 auto;
}
.nav_middle{
	height: 30px;
	line-height: 30px;
	
	max-width:1190px;
	margin: 0 auto;
	min-width: 1000px;
}
.nav_middle a{
	color: white;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
}
.nav_middle ul{
	float: left;
	list-style-type: none;
	margin-right: 15px;
}
.nav_middle li{
	display: inline-block;
	list-style-type: none;
	margin-right: 15px;
}
.one li{
	margin-right:20px;
	float: left;
}
.nav_middle .one{
	text-align: center;
	background: #ff5000;
	float: left;
    width: 190px;
    font-size: 16px;
    color: white;
}
.nav_middle span{
	color: white;
	line-height: 30px;
	font-weight: 600px;
}
.nav_middle .three a,.nav_middle .four a{
	font-size: 15px !important;
	font-weight: 700;
}
.all_find_middle{
	width: 1190px;
	height: 655px;
	margin: 0 auto;
}
.find_left{
	width: 188px;
	height: 521px;
	border: 1px solid #ff5000;
    border-top: none;
	float:left;
	padding: 5px 0 3px 0;
	background-color: white;
}
.find_left li{
	list-style-type: none;
	width: 158px;
	height: 32px;
	line-height: 32px;
	padding: 0 10px 0 20px;
	font-size: 14px;
}
.find_left a{
	text-decoration: none;
	color: #666;
}
.find_left li:hover{
	background-color:#ffeee5; 
	color: red !important;
}
.find_left li:hover a{
	color:red;
}
.find_left a:hover{
	text-decoration: underline;
}
.find_left li span{
	float:right;
}
.find_middle img{
	width: 520px;
	height: 280px;
	margin: 10px 10px 0px 10px;
	float: left;
}
.find_moddle_bottom{
	width: 520px;
	height: 201px;
	float: left;
	background-color: white;
	border-top: solid 3px #ff1648;
	z-index: 2;
	position: absolute;
}
.find_moddle_bottom img{
	width: 251px;
	height: 190px;
	float: left;
	margin-left: 6px;
	margin-top: 6px;
}
.tianmao div.tianmao{
	width: 520px;
	height: 18px;
	float: left;
}
div.tianmao span{
	color:#3C3C3C;
	font-size: 12px;
}
.tianmaode{
	width: 520px;
	height: 230px;
	float:left;
	margin:10px;
	margin-top: 14px;
}
div.tianmao img.tianmaopi{
	width: 136px;
	height: 19px;
	float：left;
	margin-bottom: -6px;
}
.picture_left{
	width: 160px;
	height: 512px;
	float: left;
	display: inline-block;
	margin-top:5px;
}
div.picture_left{
	color:#a1a1a1;
	font-size: 12px;
	line-height: 24px;
    padding-top: 6px;
    font-weight: 400;
}
.middle_botton_all{
	width: 857px;
	height: 75px;
	background-color:white;
	float:left;
	padding: 14px 14px 12px 20px;
	margin-top: -5px;
}
.toutiao_middle{
	width: 180px;
	height: 73px;
	float: left;
}
.toutiao_middle p{
	line-height: 24px;
    height: 24px;
    color: #999;
    font-size: 12px;
    font-weight: 400;
}
.laping{
	margin-top: 2px;
    margin-left: 144px;
    color: #333;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    font-weight: 500;
    float: left;
}
.jieshao{
	margin-left: 144px;
    color: #999;
    height: 36px;
    line-height: 18px;
    font-size: 14px;
    float: left;
}
.right_cluo{
	position: absolute;
	top: 0px;
	left: 187px;
}
.gengduo{
	float: right;
	color:#999;
	font-size: 12px;
    font-weight: 400;
    /*cursor: pointer;*/
}
.shubiao:hover .laping{
	color:#ff5000;
}
.gengduo:hover{
	color:#ff5000;
}
.all_right{
	width: 290px;
	height: 632px;
/*	background-color: yellow;*/
	position:relative;
	top: 12px;
	left: 900px;
	background-color: white;
	}
.denglu_right{
	width:290px;
	height:145px;
	background-image: url(../pi/bj.jpg);
	background-size: 290px;
	background-repeat: no-repeat;
}
.touxiang_right{
	text-align: center;
	position: relative;
}
.touxiang_right a.xoaoren{
	border:3px solid #fff;
	width: 50px;
	height: 50px;
	display: inline-block;
}
p.wenzi_right{
	font-size: 12px;
	color: #3C3C3C !important;
}
p.yuankuang_right a{
	background: #ffe4db;
	border-radius: 9px;
	line-height: 17px;
	text-align: center;
	text-decoration: none;
}
.wenzi_right,.yuankuang_right a span{
	font-size: 12px;
	text-align: center;
	color: #ff5000!important;
}
.xuanxiang_right{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 12px;
}
.xuanxiang_right a{
	line-height: 25px;
	height: 25px;
	display:inline-block;
	background-image: linear-gradient(to right,#ff5000 0,#ff6f06 100%);
	border-radius: 4px;
	text-decoration: none;
	color:white;
	text-align: center;
}
.jubao_right{
	background: #ffe4dd;
	text-align: center;
	font-size: 12px;

}
.jubao_right a{
	text-decoration:none;
	display: block;
	height: 26px;
    line-height: 26px;
    color: #F40;
}
.xiaodaohang_right li{
	list-style-type: none;
	font-size: 12px;
	float: left;
	width: 32px;
	height: 23px;
	margin:0 11px;
}
.xiaodaohang_right a{
	display:inline-block;
	text-align: center;
	text-decoration: none;
	color:black;
}
.xiaodaohang_right a:hover{
	font-weight:700;
	color:color: #F40;
	border-bottom: 2px solid #F40;
}
.xiaodaohang_right li:hover a{
	font-weight:700;
	border-bottom: 2px solid #F40;
}

.duiying1_right a{
	text-decoration: none;
	color: black;
}
.duiying1_right a:hover{
	color: red;
}
.duiying1_right{
	clear: both;
	font-size: 12px;
	line-height: 25px;
	text-indent: 5px;
	width: 290px;
	height: 65px;
	position:relative;
}
.duiying1_right p{
	display: inline-block;
}
#ww{
	position: absolute;
	top: 200px;
	left: 5px;
	display: none;
}
.ont_two:hover #ww{
	display: block;
}
.ont_two:hover #ee{
	display: none;
}
.tubiao_right{
	position:relative;
	top: 60px;
	margin-left: 2px;
}
.tubiao_right a{
	float: left;
	text-decoration: none;
	font-size: 13px;
	width: 70px;
	height: 77px;
	line-height: 20px;
	display: inline-block;
	color: black;
	text-align: center;
	border: 1px solid #f4f4f4;
}
.tubiao_right img{
	width: 24px;
	height: 24px;
	margin-top: 14px;
	text-indent: center;
}
.tubiao_right a:hover{
	border: #f40 solid 1px;
}
.tubiao_right span:hover{
	color: #f40;
}
.kuangkuang{
	width: 288px;
	height: 155px;
	background-color:yellow;
	position:absolute;
	top: 341px;
	left:2px;
	display: none;
}

.chonghuafei:hover .kuangkuang{
     	display: block;
}
.xiaotubiao{
	position: absolute;
	top: 500px;
	left: 0;
}
.xiaotubiao h3{
	color: #3C3C3C;
	font-size: 14px;
	font-weight: bold;
	height: 30px;
    line-height: 30px;
    padding-left: 14px;
    float: left;
    display: inline-block;
}
.xiaotubiao span{
	font-size: 12px;
	color: black;
	position: absolute;
	right: 10px;
	top: 10px;
}
.xiaotubiao a{
	text-decoration: none;
	color:black;
}
.xiaotubiao a:hover{
	color:red;
}
.tubiaobiao_right{
	margin-left: 20px;
}
.tubiaobiao_right img{
	width: 32px;
	height: 32px;
	margin-right: 21px;
	margin-bottom: 8px;
	float: left;
}
.taobaoa{

}